<h4>Hallo <?= $nickname ?>,</h4>

  <p>Es sind in den nächsten <?= DAYS_TO_INFORM_LEADER_ABOUT_OPEN_SERVICES ?> Tagen noch folgende Dienste offen:
  <p>
  <table class="table table-condensed" styl="width:auto">
<?php foreach ($openServices as $s): ?>
    <tr><td><?= $s->datum ?> <?= $s->event ?>
        <td>Dienst: <?= $s->service?> <font style="color:red"><?php if($s->name):?><?= $s->name ?><?php else:?>?<?php endif;?></font>
<?php endforeach; ?>
  </table>

  <p><a href="<?= $moreInfoUrl ?>" class="btn">Gehe zu <?= $modulename ?> &raquo;</a>&nbsp
     <a href="<?= $settingsUrl ?>" class="btn">Benachrichtigung deaktivieren  &raquo;</a>

