<h4>Hello <?= $nickname ?>,</h4>

  <p>Not yet staffed services in the next <?= DAYS_TO_INFORM_LEADER_ABOUT_OPEN_SERVICES ?> days:
  
  <ul>
<?php foreach ($openServices as $s): ?>
    <li><?= $s->datum ?>, <?= $s->event ?> - Service <?= $s->service ?>
        <font style="color:red"><?php if($s->name):?><?= $s->name ?><?php else:?>?<?php endif;?></font>
    </li>
<?php endforeach; ?>
  </ul>
  
  <table class="table table-condensed" styl="width:auto">
<?php foreach ($openServices as $s): ?>
    <tr><td><?= $s->datum ?> <?= $s->event ?>
        <td>Service: <?= $s->service?> <font style="color:red"><?php if($s->name):?><?= $s->name ?><?php else:?>?<?php endif;?></font>
<?php endforeach; ?>
  </table>

  <p><a href="<?= $moreInfoUrl ?>" class="btn">Goto <?= $modulename ?> &raquo;</a>&nbsp
     <a href="<?= $settingsUrl ?>" class="btn">Deactivate Infomails &raquo;</a>

