<h4>Hallo <?= $nickname ?>!</h4>

<?php if (!empty($userIsResourceAdmin)): ?>
  <?php if (!empty($pending)): ?>
    <p>Eine neue Buchungsanfrage von <i><?= $user->vorname ?> <?= $user->name ?></i> wartet auf Genehmigung.
  <?php endif; ?>

  <?php if (!empty($succesful)): ?>
    <p>Eine neue Buchung von <i><?=$user->vorname?> <?=$user->name?></i> wurde erstellt und automatisch genehmigt.
  <?php endif; ?>

  <?php if (!empty($canceled)): ?>
    <p>Eine neue Buchung von <i><?=$user->vorname?> <?=$user->name?></i> wurde erstellt und gleich abgelehnt.
  <?php endif; ?>
<?php else: ?>

  <?php if (!empty($pending)): ?>
    <p>Deine Buchungsanfrage <i><?= $booking->text ?></i> ist bei uns eingegangen und wird bearbeitet.
       Sobald es einen neuen Status gibt, wirst Du informiert.
  <?php endif; ?>

  <?php if (!empty($succesful)): ?>
    <p>Deine Buchung <?= $booking->text ?> war erfolgreich. Sobald es einen neuen Status gibt, wirst Du informiert.
  <?php endif; ?>
<?php endif; ?>

<?php if (!empty($canceled) && !empty($days)): ?>
    <p>Bei Deiner Serien-Buchungsanfrage <?= $booking->text ?> für <?= $resource ?> mussten leider
       von <?= $user->vorname ?> <?= $user->name ?> folgende Tage abgelehnt werden: <p>
       <b> <?= $days ?></b>
<?php endif; ?>
<?php if (!empty($pending) || !empty($succesful)): ?>

<?php //TODO: should be shown on updated bookings too ?>
    <p>Buchungsdaten:</p>
    <table class="table table-condensed">
      <tr><td>Bezeichnung: <td><?= $booking->text ?>
      <tr><td>Ressource: <td><?= $resource ?>
      <tr><td>Beginn: <td><?= $startdate ?>
      <tr><td>Ende: <td><?= $enddate ?>
      <tr><td>Status: <td><?= $status ?>
  <?php if ($booking->location):?>
      <tr><td>Bemerkung: <td><?= $booking->location ?>
  <?php endif; ?>

  <?php if (!empty($repeatType)): ?>
      <tr><td>Wiederholungstyp: <td><?= $repeatType ?>
    <?php if (!empty($repeatUntil)): ?>
      <tr><td>Wiederholung bis: <td><?= $repeatUntil ?>
    <?php endif;?>

    <?php if (!empty($exceptions)): ?>
      <tr><td>Ausnahmen: <td><?= $exceptions ?>
    <?php endif;?>
  <?php endif;?>

  <?php if (!empty($additions)): ?>
      <tr><td>Zusätzliche Termine: <td><?= $additions ?>
  <?php endif;?>

  <?php if (!empty($booking->note)): ?>
      <tr><td>Bemerkung: <td><?= $booking->note ?>
  <?php endif;?>

  <?php if (!empty($conflicts)): ?>
      <tr><td>Konflikte: <td><?= $conflicts ?>
  <?php endif;?>
    </table>

    <p><a class="btn" href="<?= $bookingUrl ?>">Zur Buchungsanfrage &raquo;</a>
<?php endif;?>
