.form-horizontal .control-group {
  margin-bottom: 13px;
}	

.hoverreactor {
  display:none;
}

input.withoutmargin {
  margin:0
}
  
span.error {
  color:red;	
}  
  
div.ui-datepicker {
  min-width:15.1em;	
}  
  
a.ui-state-checkin {
  background:lightgray;
  color:#fff;
}  
  
.popover {
  width:auto;
}

p small {
	color:#999;
}

span.label a {
  color:white;
}

.ct-dialog-content{
	position: relative;
	border: 0;
	padding: .5em 1em;
	background: none;
	overflow: auto;
}


.input-xmini {
  width: 40px;
}
.input-xxmini {
  width: 20px;
}

div.filelist {
  font-size: 85%;
  margin-top:10px;
  margin-bottom:10px;	
}

th.active, td.active, td.editmode {
	background-color: #F2F4F6 !important;
}

td.editable, td.clickable {
  cursor:pointer; 
}

input.without-bottom {
 	margin-bottom:0px;
}

.sidebar-nav {
  padding: 9px 0;
}

;#selectable .ui-selecting { background: #FECA40; }
;#selectable .ui-selected { background: #F39814; color: white; }

li.ct_whitebox {
  list-style:none;
}

.ui-autocomplete {
   max-height: 300px;
   overflow-y: auto;
        /* prevent horizontal scrollbar */
   overflow-x: hidden;	
	
}

input.throbbing {
  background-image: url(../assets/img/throbber.gif);
  background-position: 100% -12px; /* LTR */
  background-repeat: no-repeat;
}

.ct_whitebox {
  *float:left;
  position: relative;
  margin: 0px 0 19px;
  padding: 39px 19px 14px;
  *padding-top: 19px;
  background-color: #fff;
  border: 1px solid #ddd;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
}

/* Echo out a label for the example */
.ct_whitebox_label {
  position: absolute;
  top: -1px;
  left: -1px;
  padding: 3px 7px;
  font-size: 12px;
  font-weight: bold;
  background-color: #f5f5f5;
  border: 1px solid #ddd;
  color: #9da0a4;
  -webkit-border-radius: 4px 0 4px 0;
     -moz-border-radius: 4px 0 4px 0;
          border-radius: 4px 0 4px 0;
}

.ct_help_label {
  float:right;
  padding: 3px 7px;
  margin: -6px -10px;
  font-size: 12px;
  font-weight: bold;
  background-color: #f5f5f5;
//  border: 1px solid #ddd;
  -webkit-border-radius: 4px 4px 4px 4px;
     -moz-border-radius: 4px 4px 4px 4px;
          border-radius: 4px 4px 4px 4px;
}

tr.detail {
  background:#f9f9f9;
}

div.event_info {
  font-size:85%;
  color:#999;
  border-width:1px;
  border-style: solid;
  border-color: #EEE;
  border-radius: 4px;
  padding: 4px 1px 4px 11px;
  margin: 0px 3px 3px 1px;
  background: #F9F9F9;
  max-width:250px;
  line-height:150%;
}

div.fixed {
  position:fixed;
}

.grouping {
  background-color:#e7eef4 !important;
  font-style:italic;
} 

td.angefragt, a.angefragt, font.angefragt {
  background: #fef37a;	
}
.ui-datepicker-calendar td.angefragt { 
     -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
}

td.zugesagt, a.zugesagt, font.zugesagt, div.zugesagt {
  background: #a6ffb0;	
}
.ui-datepicker-calendar td.zugesagt { 
	*padding: 1px 1px 1px 1px;   
	-webkit-border-radius: 4px;
       -moz-border-radius: 4px;
            border-radius: 4px;
}
.ui-datepicker-calendar td.absent { 
	background-image: url(../assets/img/red_dot.png); 
	background-repeat:no-repeat; 
	background-position:25px 1px;
}


img.small {
  vertical-align:middle;
  width:20px;	
}

#tooltip_inner.PersonView {
  width:400px;	
}
#tooltip_inner.gruppenteilnahme {
  width:230px;	
  font-weight:normal;
}
#tooltip_inner.GroupView {
  width:400px;	
}
#tooltip_inner.ListView {
  width:280px;	
}
#tooltip_inner.SongView {
  min-width:250px;	
}
#tooltip_inner.WeekView {
  width:250px;	
}
#tooltip_inner.CalView {
  width:200px;	
}

div.popover-inner {
  width:auto;	
}

div.tooltip_foto {
  float:left;
  padding-right:20px;
}

div.tooltip_address {
  p_adding: 10px;
  w_idth:200px;
  float:left;
}

.table-condensed2 th,
.table-condensed2 td {
  padding: 1px 5px 0px;
}

.table-mini th,
.table-mini td {
  font-size:85%;
  padding: 1px 3px 0px;
}

#cdb_content table {
  width:100%;	
}

#cdb_content th.datum, td.datum {
  width:50px;	
}

/** 
* Name und Vorname erhŠlt die Class mit Status und KŸrzel
*/ 
#cdb_content a.member {
	font-style:bold;
}
#cdb_content a.status_x {
  text-decoration:line-through;
}

#cdb_content div.detail-view {
   background: #DDD;
   width: 100%;
   height: 100%;
   border: solid 2px #EEEEEE;
   disp_lay:none;
}

#cdb_content div.detail-view-person {
   background: #EEEEEE;
   width: 100%;
   height: 100%;
   border: solid 2px lightgrey;
   disp_lay:none;
}

#cdb_content div.detail-view-infobox {
   background: #F4F4F4;
   margin: 15px 0 15px 0px;
}
div.detail-view-infobox p {
   margin: 0px 0 0px 0px;
}

div.map-control-wrapper {
   background-color: white;
   border-style: solid;
   margin-top: 1px;
   border-width: 1px;
   cursor: pointer;
   text-align: center;
}
div.map-control-label {
   font-size:11px;
   padding-left: 2px;
   padding-right: 2px;
}


#cdb_content #detail th  {
   background: lightblue;
}

#cdb_content #detail td.followup_comment {
   background-color: #f8eaed;
}


#cdb_content div.tooltip_foto {
	float:left;
	padding-right:10px;
} 
#cdb_content div.tooltip_address {
  padding: 10px;
  *width:200px;
  float:left;
}
    

#cdb_content #detail td {
  border-left:none;
}

#cdb_content div.detail-view-admin {
   background: #EEEEEE;
   width: 100%;
   height: 100%;
   border: solid 2px #CCCCCC;
   disp_lay:none;
}

#cdb_content #detail div.left-column-person {
   padding: 4px 0px 4px 4px;
}

#cdb_content #detail div.middle-column-person {
   padding: 4px 0px 4px 0px;
}

#cdb_content #detail div.right-column-person {
   padding: 4px 4px 4px 0px;
}

#cdb_content #detail div.map-canvas-person {
   #width: 235px;
   height: 200px;
}

#cdb_content #detail div.logs {
   display: none;
   border: 1px solid white;
   height: 120px;
   overflow-x: hidden;
   overflow-y: auto;
   width:98%;
   margin: 2px;
   padding: 2px;
}

#cdb_content #detail div.relations {
   display: none;
   border: 1px solid white;
   margin: 2px;
   padding: 2px;
}

#cdb_content #detail div.left-column {
   width: 200px;
   float: left;
   margin: 5px 5px 5px 5px;
}

#cdb_content #detail div.map-canvas {
   width: 240px;
   height: 180px;
}

#cdb_content #detail div.right-column {
   width: 300px;
   float: right;
   margin: 5px 5px 5px 5px;
}

#cdb_content #detail div.middle-column {
   width: 300px;
   float: right;
   margin: 5px 5px 5px 5px;
}

#cdb_content #detail div.detail-footer {
   color: black;
   background: #f4f4f4;
   border: 1px solid white;
   padding: 0;
}

/*warum nur hierdrauf? #cdb_content #detail*/ 
span.tag {
  background : lightblue;
  border-radius: 7px 7px 7px 7px;
  padding: 1px 2px 2px 4px;
  white-space:nowrap;
  line-height: 21px;
}

#cdb_content #detail span.content {
  color:black;
}

#cdb_content div.bottom_links {
  font-size:11px;	
}

#cdb_content hr {
  border-top: 1px solid #bbbbbb;	
}

/* Sidenav for Docs
-------------------------------------------------- */

.bs-docs-sidenav {
  width: 228px;
  margin: 30px 0 0;
  padding: 0;
  background-color: #fff;
  -webkit-border-radius: 6px;
     -moz-border-radius: 6px;
          border-radius: 6px;
  -webkit-box-shadow: 0 1px 4px rgba(0,0,0,.065);
     -moz-box-shadow: 0 1px 4px rgba(0,0,0,.065);
          box-shadow: 0 1px 4px rgba(0,0,0,.065);
}
.bs-docs-sidenav > li > a {
  display: block;
  width: 190px \9;
  margin: 0 0 -1px;
  padding: 8px 14px;
  border: 1px solid #e5e5e5;
}
.bs-docs-sidenav > li:first-child > a {
  -webkit-border-radius: 6px 6px 0 0;
     -moz-border-radius: 6px 6px 0 0;
          border-radius: 6px 6px 0 0;
}
.bs-docs-sidenav > li:last-child > a {
  -webkit-border-radius: 0 0 6px 6px;
     -moz-border-radius: 0 0 6px 6px;
          border-radius: 0 0 6px 6px;
}
.bs-docs-sidenav > .active > a {
  position: relative;
  z-index: 2;
  padding: 9px 15px;
  border: 0;
  text-shadow: 0 1px 0 rgba(0,0,0,.15);
  -webkit-box-shadow: inset 1px 0 0 rgba(0,0,0,.1), inset -1px 0 0 rgba(0,0,0,.1);
     -moz-box-shadow: inset 1px 0 0 rgba(0,0,0,.1), inset -1px 0 0 rgba(0,0,0,.1);
          box-shadow: inset 1px 0 0 rgba(0,0,0,.1), inset -1px 0 0 rgba(0,0,0,.1);
}
/* Chevrons */
.bs-docs-sidenav .icon-chevron-right {
  float: right;
  margin-top: 2px;
  margin-right: -6px;
  opacity: .25;
}
.bs-docs-sidenav > li > a:hover {
  background-color: #f5f5f5;
}
.bs-docs-sidenav a:hover .icon-chevron-right {
  opacity: .5;
}
.bs-docs-sidenav .active .icon-chevron-right,
.bs-docs-sidenav .active a:hover .icon-chevron-right {
  background-image: url(../img/glyphicons-halflings-white.png);
  opacity: 1;
}
.bs-docs-sidenav.affix {
  top: 40px;
}
.bs-docs-sidenav.affix-bottom {
  position: absolute;
  top: auto;
  bottom: 270px;
}

.event-date {
  font-size:85%;	
  color:#999;
}

.event-category:before{content:" (";}  	
.event-category:after{content:")";}  	

.event-description {
  font-size:85%;	
  color:#999;
}
