; $Id$

; Database connection credentials
; Valid options are:
;    db_server   = hostname of the server, running database
;    db_user     = user ID for the connection to the database
;    db_password = password for the connection to the database
;    db_name     = name of the database
;    prefix      = prefix for table names
db_server = "localhost"
db_user = "root"
db_password = "root"
db_name = "churchtools"
prefix = ""


; List of administrator's IDs.
; Example:
;    ToDo
admin_ids[] = 1 


; E-Mail setup.
; Use "phpmail" for standard php mailing and "pearmail" for mailing with pear
; Please find more details on setup here: http://pear.php.net/manual/en/package.mail.mail.factory.php
mail_type=phpmail

; Examples for setting up mail pear
; mail_pear_type=mail
; mail_pear_args[host]=localhost
; mail_pear_args[port]=25
; mail_pear_args[auth]=false
; mail_pear_args[username]=username
; mail_pear_args[password]=password
; mail_pear_args[localhost]=localhost
; mail_pear_args[timeout]=90


; Preset settings for the system, which can be changed on the Settings page via UI.
;
; Common settings
site_name = ChurchTools 2.0
site_mail = admin@example.com
login_message = "Willkommen auf dem neuen ChurchTools 2.0. Zum Anmelden bitte die Felder ausf&uuml;llen!"
welcome = Herzlich willkommen
welcome_subtext = Das ist die Startseite von ChurchTools 2.0
mail_enabled = true
cronjob_delay = 3600
churchdb_maxuser = 1000
timezone=Europe/Berlin

; Settings for the ChurchDB module
churchdb_name = ChurchDB
churchdb_maxexporter = 250
churchdb_groupnotchoosable = 90
churchdb_home_lat = 53.568537
churchdb_home_lng = 10.03656
churchdb_emailseparator = ";"
churchdb_sendgroupmails = false
churchdb_birthdaylist_status =1,2,3
churchdb_birthdaylist_station =1,2,3
churchdb_memberlist_status =1,2,3
churchdb_memberlist_station =1,2,3

; Settings for the ChurchResource module
churchresource_name=ChurchResource
churchresource_entries_last_days = 90

; Settings for the ChurchService module
churchservice_name=ChurchService
churchservice_entries_last_days = 90
churchservice_openservice_rememberdays = 3

; Settings for the ChurchCalendar module
churchcal_name = Kalender

; Start-Version
version = 2.00
