; $Id$

; ======================================================================================================
; Datenbankeinstellungen 
; ======================================================================================================
server = localhost
user = root
password = root
database = churchtools
prefix = 

; ======================================================================================================
; Autorisierung
; ======================================================================================================
; Admin-Ids - Hier kšnnen mehrere durch mehrere eigene Zeilen hinzugefuegt werden
admin_ids[] = 1 

; ======================================================================================================
; Schluessel fuer die Verschluesselung, bitte aendern (keine Sonderzeichen verwenden)! 
; ======================================================================================================
encryptionkey=Ab82rhKHbdwqb


; ======================================================================================================
; Hier kann das E-Mail Verfahren ausgewaehlt werden.
; mail_pear_type kann sein mail, smtp, oder sendmail. 
; Dementsprechend sind die argumente zu setzen, siehe http://pear.php.net/manual/en/package.mail.mail.factory.php
; ======================================================================================================
mail_pear_type=mail
mail_pear_args[host]=localhost
mail_pear_args[port]=25
mail_pear_args[auth]=false
mail_pear_args[username]=username
mail_pear_args[password]=password
mail_pear_args[localhost]=localhost
mail_pear_args[timeout]=90


; ======================================================================================================
; Ab jetzt kommen Voreinstellung, die dann ueber die Einstellungsseite angepasst werden kšnnen. 
; Diese hier bitte nicht anpassen.
; ======================================================================================================
;
; Allgemeine Einstellungen 
site_name = ChurchTools 2.0
site_mail = admin@gmail.com
login_message = "Willkommen auf dem neuen ChurchTools 2.0. Zum Anmelden bitte die Felder ausf&uuml;llen!"
welcome = Herzlich willkommen
welcome_subtext = Das ist die Startseite von ChurchTools 2.0
mail_enabled = true
cronjob_delay = 3600
churchdb_maxuser = 1000

; ChurchDB-Einstellungen
churchdb_name = ChurchDB
churchdb_maxexporter = 250
churchdb_groupnotchoosable = 90
churchdb_home_lat = 53.568537
churchdb_home_lng = 10.03656
churchdb_emailseparator = ";"
churchdb_sendgroupmails = false
churchdb_birthdaylist_status =1,2,3
churchdb_birthdaylist_station =1,2,3
churchdb_memberlist_status =1,2,3
churchdb_memberlist_station =1,2,3

; ChurchResource-Einstellungen
churchresource_name=ChurchResource
churchresource_entries_last_days = 90

; ChurchService-Einstellungen
churchservice_name=ChurchService
churchservice_entries_last_days = 90
churchservice_openservice_rememberdays = 3

; ChurchCalendar-Einstellungen
churchcal_name = Kalender

; Diese bitte auch nicht Šndern
bootstrap = true
version = 2.0