; $Id$

; Database connection credentials
; Valid options are:
;    db_server   = hostname of the server, running database
;    db_user     = user ID for the connection to the database
;    db_password = password for the connection to the database
;    db_name     = name of the database
;    prefix      = prefix for table names
db_server = "localhost"
db_user = "root"
db_password = "root"
db_name = "churchtools"
prefix = ""


; List of administrator's IDs.
; Example:
;    ToDo
admin_ids[] = 1 


; E-Mail setup.
; Which from-adress should be used for outgoing e-mails. 
; mail_with_user_from_address=1 means that the from address will be the users e-mail. This
; could make a problem for some spam filters on the server, cause some server
; aren't not allowed to relay mails.
; mail_with_user_from_address=0 (Standard) means the admin address is used. But the user-email
; is taken for reply-to
mail_with_user_from_address=0

; Use "phpmail" for standard php mailing and "pearmail" for mailing with pear
; Please find more details on setup here: http://pear.php.net/manual/en/package.mail.mail.factory.php
mail_type=phpmail

; Examples for setting up mail pear
; mail_pear_type=mail
; mail_pear_args[host]=localhost
; mail_pear_args[port]=25
; mail_pear_args[auth]=false
; mail_pear_args[username]=username
; mail_pear_args[password]=password
; mail_pear_args[localhost]=localhost
; mail_pear_args[timeout]=90


; Start-Version
version = 2.00
